OLLAMA_BASE_URL=http://127.0.0.1:11434/v1
OLLAMA_MODEL=gemma2:9b
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/
MONGODB_DB=silofocus
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SPOTIFY_STUDY_PLAYLIST=0vvXsWCC9xrXsKd4FyS8kM
NEXT_PUBLIC_SPOTIFY_BREAK_PLAYLIST=37i9dQZF1DXa2PvUpywmOO
NEXT_PUBLIC_APP_URL=http://localhost:3000
